<div class="login_wrapper">
  <div class="login_box">
    <a href="#" class="logo_text">
      <img src="/assets/novo-layout/login/img/logo_Fertile.png" alt="">
    </a>

    <div class="login_form">
      <div class="login_form_inner">
        <!-- <h3>Login to <span>your account</span></h3> -->
        <ul class="login_tab">
          <li><a class="active" href="login.html">Login</a></li>
        </ul>

        <form autocomplete="off" #f="ngForm">
          <div class="form-group">
            <input type="text" autocomplete="off" placeholder="Login de acesso"
              class="input-text" name="usuario" ngModel required #usuario>
          </div>

          <div class="form-group">
            <input type="password" autocomplete="off" name="senha" ngModel required #senha
             placeholder="Inserir Senha" class="input-text">
          </div>

          <div class="form-group">
            <button type="submit" class="btn-md btn-theme btn-block"
              (click)="login(usuario.value, senha.value); senha.value = '';" [disabled]="!f.valid">
              Login<i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="row mt-5">
        <div class="col-12 mt-3" style="text-align: center;">
          <img style="width: 40%;" src="/assets/novo-layout/login/img/doordev-login.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /. Login page -->


