.titulo-tabela {
  display: flex;
  align-items: center;
}

.titulo-tabela > h2{
  font-size: 20px;
  font-weight: bold;
}

::ng-deep .p-datatable .p-datatable-header {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  box-shadow: 0 1px 0 0 #f1f1f3;
  color: #99a5b5;
  font-size: 13px;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  box-shadow: 0 1px 0 0 #f1f1f3;
  color: #28313c;
  font-size: 13px;
  vertical-align: middle;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

::ng-deep .p-datatable .p-paginator-bottom {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
