<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<div>
  <campo-texto [labelText]="'Nome'"
               [(texto)]="produto.nome">
  </campo-texto>

  <campo-texto [labelText]="'Descrição'"
               [(texto)]="produto.descricao">
  </campo-texto>

  <campo-data [labelText]="'Data Cadastro'"
              [(texto)]="produto.datacadastro"
              [readOnly]="true"
              [dateFormat]="'dd/mm/yy'"
              [showOnFocus]="false">
  </campo-data>

  <campo-botao [label]="'Salvar'"
               [icon]="'pi pi-arrow-left'"
               (click)="AdicionarProduto()">
  </campo-botao>

  <campo-botao [label]="'Voltar'"
               [icon]="'pi pi-arrow-left'"
               (click)="Voltar()">
  </campo-botao>
</div>
