<p-toast [style]="{marginBottom: '50px'}" position="bottom-right"></p-toast>

<div class="grid">
  <div class="col-8">
    <campo-texto [labelText]="'Nome'"
                 [(texto)]="produto.nome">
    </campo-texto>
  </div>

  <div class="col-12">
    <campo-texto [labelText]="'Descrição'"
                 [(texto)]="produto.descricao">
    </campo-texto>
  </div>

  <div class="col-12">
    <campo-data [labelText]="'Data Cadastro'"
                [(texto)]="produto.datacadastro"
                [readOnly]="true"
                [dateFormat]="'dd/mm/yy'"
                [showOnFocus]="false">
    </campo-data>
  </div>

  <div class="col-12">
    <campo-dropdown [options]="dropgrupos"
                    [labelText]="'Grupo'"
                    [autoDisplayFirst]="false"
                    [(texto)]="produto.grupo">
    </campo-dropdown>
  </div>

  <div class="col-12">
    <campo-texto-area [labelText]="'Descrição'"
                      [(texto)]="produto.informacao"
                      [rows]="10">
    </campo-texto-area>
  </div>

  <div class="col-12">
    <campo-upload [name]="'anexo'"
                  [multiple]="true"
                  [auto]="true"
                  [chooseIcon]="'unset'"
                  [chooseLabel]="'Selecionar'"
                  [maxFileSize]="100000000"
                  [accept]="'image/*'"
                  [headers]="uploadHeaders"
                  [url]="urlUploadAnexo"
                  [possuiLabel]="false"
                  (onUpload)="aoTerminarUploadAnexo($event)"
                  (onError)="erroUpload($event)">

      <ng-template #corpo let-item>
        <ul *ngIf="produto?.imagems?.length">
          <li *ngFor="let imagem of produto?.imagems">{{imagem.nomeimagem}}</li>
        </ul>
      </ng-template>
    </campo-upload>
  </div>

  <div class="col-12">
    <campo-botao [label]="'Salvar'"
                 [icon]="'pi pi-arrow-left'"
                 (click)="AdicionarProduto()">
    </campo-botao>
    <div class="col-12">

    </div>
    <campo-botao [label]="'Voltar'"
                 [icon]="'pi pi-arrow-left'"
                 (click)="Voltar()">
    </campo-botao>
  </div>
</div>
